<div class="card">
<div class="pattern-dots-md top-dots">
    <p class="headFont">Diving Into The Deep</p>
</div>

<p>
    Techlmaginia is founded in 2022 by experts from IOT , Insurance , Banking Security , Helathcare , AI domains . The research and development are powered by dynamic team of engineers with great technical expertise and profound analytic skills.</p>

<mat-card>
    <!-- <mat-card-header>
        <div mat-card-avatar class="ben-image"></div>
        <mat-card-title>
            Nabajyoti
        </mat-card-title>
        <mat-card-subtitle>
            Founder, Techlmaginia Softwares
        </mat-card-subtitle>
    </mat-card-header> -->
    <mat-card-content>
      <!-- Let us make all impossibilities possible , Combining existing concepts with our imagination . -->
      <br>
      <br>
      Let Applications do Everything for you.
    </mat-card-content>
    <mat-card-actions>
        <a mat-button href="mailto:nabajyoti.sahoo1@gmail.com">Email</a>
        <a mat-button href="https://github.com/Techlmaginia" target="_blank">GitHub</a>
    </mat-card-actions>
</mat-card>
</div>